@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --highlight-pink: #F157FF;
}

* {
/*   margin: 0;
  padding: 0;
  box-sizing: border-box; */
  scroll-behavior: smooth;
}

:root {
  --data-table-color-hover-area: #ffa0a0;

  --background-gradient-first-color: #FFF1E4 ;
  --background-gradient-second-color: #FEE6FF ;

  --button-gradient-first-color: #FFDBA2 ;
  --button-gradient-second-color: #EDACFA ;
  --button-gradient-third-color: #D0ABFC ;

  --home-highlight: #F157FF;
  --orange: #f4671b;
  /* --primary-color: #FBE9E6; */
   /* linear-gradient(136deg,#FFDBA2 0%,#EDACFA   76%,#D0ABFC 100%) 0% 0%; */
   --pimary-color: linear-gradient(136deg,#FFDBA2 0%,#EDACFA   76%,#D0ABFC 100%) 0% 0%;
   --primary-color-light: #FEF5FF;
  
   --user-rol-supervisor: #FFFABA;
   --user-rol-user: #C1FCE1;

   --status-active: #E0E0E0;
   --status-not-active: #9AF3FA;


  --border-table-users: #F6CBFF;
  --button-background-forms: #FCDCFF;
  --border-container-forms: #FCDCFF;
  --font-title-color: #5A23EC;
  --background-row-table-datadict: #F2F0FF;
  --input-background-forms: #F2F0FF;

  /* --background-gradient-first-color: #FFE9E2;
  --background-gradient-second-color: #eaeffb; */


  --button-dwnld-bg: #E1DBFF;
  --button-dwnld-border: #131523;

 
  --mktdriven: #83bdff;
  --regdriven-mandatory: #83BDFF;
  --regdriven-voluntary: #00D969;
  --regdriven-undefined: #FFDD33;

  --regcomplex-high: #D67898;
  --regcomplex-medium: #E3A4B9;
  --regcomplex-low: #F1D1DC;
  --regcomplex-verylow: #F8EAEF;

  --regclarity-high: #57B1B9;
  --regclarity-medium: #8ECBD0;
  --regclarity-low: #C6E4E7;
  --regclarity-verylow: #E2EFF0;

  --table-primary-color:#FCDCFF;
  --dashboard-table-heading:#E1DBFF;
  
  --country-profile-green:#88F0C8;
  --country-profile-red:#F78E8E;
}


body {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  background: transparent linear-gradient(180deg,#FFFFFF 0%, #C7F8FF 20%, #DBD3FF 80%) 0% 0% no-repeat padding-box;
  }


h1 {
  font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.17em;
  }
  
  h4 {
    font-size: 1em;
  }
  
  h5 {
    font-size: 0.83em;
  }
  
  h6 {
    font-size: 0.67em;
  }

  input[type="radio"], input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  

  .dark-purple-border {
    border: 1px solid #3423C5;
  }

  .rdt_TableCol div {
    white-space: normal !important;
  }


  .bg-primary-gradient {
    background: transparent linear-gradient(180deg, #C7F8FF 0%, #DBD3FF 100%) 0% 0% no-repeat padding-box;
  }

  #hero-home-img {
    background: transparent linear-gradient(127deg, #10DFFF 0%, #7F6FFD 59%, #8F5EFD 100%) 0% 0% no-repeat padding-box;
  }

  .circular-gradient {
    background: transparent linear-gradient(136deg, #83E3FF 0%, #EC90FF 76%, #C79AFD 100%) 0% 0% no-repeat padding-box;
    background-position: 100% 0%;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    opacity:0.85;
  }
  
  .circular-gradient:hover {
    opacity: 1;
  }
  

  /* NEWS SCROLLER */

.custom-scrollbar {
  height: 200px;
  overflow-y: scroll;
/*   background : #F5F6F9; */

}

.bg-news-scroll-row {
  background: transparent linear-gradient(90deg, #F5F8FD  0%, #FDF2F1  100%) 0% 0% no-repeat padding-box;
  border-right: 3px solid white;
}
/* /* To style the document scrollbar, remove `.custom-scrollbar` */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background : #E6E9F4

}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background : #D0D9F0;

  /* box-shadow:  0 0 6px rgba(0, 0, 0, 0.5); */
} 



.diagram-scrollbar {
  min-height: 450px;
  overflow-y: scroll;
/*   background : #F5F6F9; */

}

.bg-news-scroll-row {
  background: transparent linear-gradient(90deg, #F5F8FD  0%, #FDF2F1  100%) 0% 0% no-repeat padding-box;
  border-right: 3px solid white;
}

/* sdfa dfas dfasdfadsfasdfadsfa */


