@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --highlight-pink: #F157FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  background: transparent linear-gradient(180deg,#FFFFFF 0%, #C7F8FF 20%, #DBD3FF 80%) 0% 0% no-repeat padding-box;
  }


h1 {
  font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.17em;
  }
  
  h4 {
    font-size: 1em;
  }
  
  h5 {
    font-size: 0.83em;
  }
  
  h6 {
    font-size: 0.67em;
  }

  .dark-purple-border {
    border: 1px solid #3423C5;
  }

  .rdt_TableCol div {
    white-space: normal !important;
  }


  .bg-primary-gradient {
    background: transparent linear-gradient(180deg, #C7F8FF 0%, #DBD3FF 100%) 0% 0% no-repeat padding-box;
  }

  #hero-home-img {
    background: transparent linear-gradient(127deg, #10DFFF 0%, #7F6FFD 59%, #8F5EFD 100%) 0% 0% no-repeat padding-box;
  }

  .circular-gradient {
    background: transparent linear-gradient(136deg, #83E3FF 0%, #EC90FF 76%, #C79AFD 100%) 0% 0% no-repeat padding-box;
    background-position: 100% 0%;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    opacity:0.85;
  }
  
  .circular-gradient:hover {
    opacity: 1;
  }
  